<!doctype>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type=text/javascript src="{{
  url_for('static', filename='js/main.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="16x16" />
</head>
<body>
    <title>
        Wall Street Squeeze
    </title>
    <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/large_cap">S&P 500</a></li> -->
        <div class="dropdown">
            <button class="dropbtn">Large Cap
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/s_and_p_500">S&P 500</a>
                <a href="/dow_jones">Dow Jones</a>
                <a href="/nasdaq">Nasdaq 100</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Mid & Small Cap
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/medium_cap">Medium Cap</a>
                <a href="/small_cap">Small Cap</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Fundamental Collections
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/dogs_of_the_dow">Dogs of the Dow</a>
                <a href="/high_short">High Short Interest</a>
                <a href="/high_dividend">High Dividend</a>
                <a href="/high_dividend_no_reit">High Dividend ex REITs</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Momentum Collections
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/runners">Runners</a>
                <a href="/dippers">Dippers</a>
                <a href="/52_week_high">Price Range High</a>
                <a href="/52_week_low">Price Range Low</a>
            </div>
        </div>
        <!-- <li><a href="/high_short">High Short Interest</a></li> -->
        <li style="float:right">
            <a href="/">

                Wall Street Squeeze
                <!-- <img src={{
                  url_for('static', filename='images/orange.png') }} alt="cartoon orange" width="1%"
                > -->
            </a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}

    <footer>
        Last refreshed {{refresh_date}}
    </footer>
</body>
