<!doctype html>

{% extends "layouts/base.html" %}

{% block content %}

<h1>{{title}}</h1>

<input type="text" id="stockFilter" onkeyup="filterStocks()" placeholder="Search stocks" title="Search stocks">

<table id="stockTable">
    <tr>
        <th onclick="sortTable(0)">
            Symbol
        </th>
        <th onclick="sortTable(1)">
            Name
        </th>
        <th onclick="sortTable(2)">
            Previous Close
        </th>
        <th onclick="sortTable(3)">
            Dividend Yield
        </th>
        <th onclick="sortTable(4)">
            Market Cap
        </th>
        <th>
            52 Week Low
        </th>
        <th>
            52 Week High
        </th>
        <th>
            Sector
        </th>
    </tr>
    {% for stock in stock_data %}
        <tr>
            <td>
                {{ stock.Collections.ticker }}
            </td>
            <td>
                {{ stock.StockInfo.shortName }}
            </td>
            <td>
                {{ stock.StockPrices.price }}
            </td>
            <td>
                {{ stock.StockInfo.dividendYield or '' }}
            </td>
            <td>
                {{ stock.StockInfo.marketCap }}
            </td>
            <td>
                {{ stock.StockInfo.fiftyTwoWeekLow }}
            </td>
            <td>
                {{ stock.StockInfo.fiftyTwoWeekHigh }}
            </td>
            <td>
                {{ stock.StockInfo.industry }}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
