<!doctype html>

{% extends "layouts/base.html" %}

{% block content %}

<h1>{{title}}</h1>

{{ text }}

<input type="text" id="stockFilter" onkeyup="filterStocks()" placeholder="Search stocks" title="Search stocks">

<div class="table-responsive">
    <table class="table" id="stockTable">
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Name
            </th>
            <th>
                Previous Close
            </th>
            <th>
                Dividend Yield
            </th>
            <th>
                Market Cap (billions)
            </th>
            <th>
                PE Ratio
            </th>
            <th>
                Beta
            </th>
            <th>
                Sector
            </th>
        </tr>
        {% for stock in stock_data %}
            <tr>
                <td>
                    <a href="/{{stock.Collections.ticker}}">{{ stock.Collections.ticker }}</a>
                </td>
                <td>
                    {{ stock.StockInfo.shortName }}
                </td>
                <td>
                    ${{ '%.2f'|format(stock.StockPrices.price) }}
                </td>
                <td>
                    {% if stock.StockInfo is not none and stock.StockInfo.trailingAnnualDividendYield is not none %}
                        {{ '%.2f'|format((stock.StockInfo.trailingAnnualDividendYield*100)) }}%
                    {% else %}
                        {{ '' }}
                    {% endif %}
                </td>
                <td>
                    {% if stock.StockInfo is not none and stock.StockInfo.marketCap is not none %}
                        ${{ (stock.StockInfo.marketCap/1000000000)|round(4) }}
                    {% else %}
                        {{ '' }}
                    {% endif %}
                </td>
                <td>
                    {% if stock.StockInfo is not none and stock.StockInfo.forwardPE is not none %}
                        {{ stock.StockInfo.forwardPE|round(2) }}
                    {% else %}
                        {{ '' }}
                    {% endif %}
                </td>
                <td>
                    {% if stock.StockInfo is not none and stock.StockInfo.beta is not none %}
                        {{ stock.StockInfo.beta|round(2) }}
                    {% else %}
                        {{ '' }}
                    {% endif %}
                </td>
                <td>
                    {{ stock.StockInfo.industry }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
