<!doctype html>

{% extends "layouts/base.html" %}

{% block content %}

<h1>Dogs of the Dow</h1>

<input type="text" id="stockFilter" onkeyup="filterStocks()" placeholder="Search stocks" title="Search stocks">

<table id="stockTable">
    <tr>
        <th>
            Symbol
        </th>
        <th>
            Name
        </th>
        <th>
            Previous Close
        </th>
        <th>
            Dividend Yield
        </th>
        <th>
            Market Cap (billions)
        </th>
        <th>
            PE Ratio
        </th>
        <th>
            Beta
        </th>
        <th>
            Small Dog
        </th>
    </tr>
    {% for stock in stock_data %}
        <tr>
            <td>
                {{ stock.ticker }}
            </td>
            <td>
                {{ stock.shortName }}
            </td>
            <td>
                {{ stock.price }}
            </td>
            <td>
                {{ stock.trailingAnnualDividendYield }}
            </td>
            <td>
                {{ stock.marketCap }}
            </td>
            <td>
                {{ stock.forwardPE }}
            </td>
            <td>
                {{ stock.beta }}
            </td>
            <td>
                {{ stock.smallDog }}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
