<!doctype html>

{% extends "layouts/base.html" %}

{% block content %}

<h1>
    <img src={{
      url_for('static', filename='images/orange.png') }} alt="cartoon orange" width="5%"
    >
      Wall Street Squeeze
</h1>

<table id="indexTable">
    <tr>
        <th>
            Index
        </th>
        <th>
            Symbol
        </th>
        <th>
            Price
        </th>
        <th>
            $ Change
        </th>
        <th>
            % Change
        </th>
    </tr>

    {% for index in indices %}
        <tr>
            <td>
                {{ index.name }}
            </td>
            <td>
                {{ index.ticker }}
            </td>
            <td>
                ${{ index.close }}
            </td>
            <td>
                ${{ index.dollar_change|round(2) }}
            </td>
            <td>
                {{ (index.decimal_change * 100)|round(4)}}%
            </td>
        </tr>
    {% endfor %}

</table>

{% endblock %}
