<!doctype html>

{% extends "layouts/base.html" %}

{% block content %}
<div class="container">

    <div class="image">
        <img src={{
            url_for('static', filename='images/orange.png') }} alt="cartoon orange"
            >
    </div>

    <div class="title">
        <h1>
              Wall Street Squeeze
        </h1>
    </div>

    <div class="info">
        <p>
            How did you find your last stock? Our guess, if you're honest with yourself,
            is it was probably by accident. Maybe a friend suggested it, maybe you heard it
            in passing on a podcast, or maybe even on Reddit. At Wall Street Squeeze,
            we think you can do better and we're here to help.
        </p>
        <p>
            We're here to help you find better stock. We provide collections of stocks
            based on fundamentals and momentum indicators. So next time you're ready to make
            an investment decision, start with the data, not a tip from your friend from college.
        </p>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Collection
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Indexes
                    </td>
                    <td>
                        Contains standard indexes including the S&P 500, Dow Jones and Nasdaq 100.
                    </td>
                </tr>
                <tr>
                    <td>
                        Fundamental
                    </td>
                    <td>
                        Contains collections based on fundamental indicators such as
                        dividend rate and short interest.
                    </td>
                </tr>
                <tr>
                    <td>
                        Momentum
                    </td>
                    <td>
                        The momentum collections identify stocks that have strong upwards or
                        downwards momentum. The momentum collections identify stocks both above
                        or below their moving averages and stocks near either their 52 week highs
                        or lows.
                    </td>
                </tr>
                <tr>
                    <td>
                        Value
                    </td>
                    <td>
                        The value collections are centered around stocks which present good "value"
                        investments. This includes common metrics used by value investors, such as
                        price to book ratio, price to earnings ratio and PEG ratio.
                    </td>
                </tr>
                <tr>
                    <td>
                        Specialty
                    </td>
                    <td>
                        The specialty collection screens for stocks in specific industries. These special
                        collections include screens for stocks for stocks associated with cryptocurrencies and
                        blockchain, electric vehicles, online and video games, marijuana and cannabis, and pets.
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
{% endblock %}
