<!doctype html>

{% extends "layouts/base.html" %}

{% block content %}

<h1>{{title}}</h1>

<input type="text" id="stockFilter" onkeydown="filterStocks()" placeholder="Search stocks" title="Search stocks">

<table id="stockTable">
    <tr>
        <th>
            Symbol
        </th>
        <th>
            Name
        </th>
        <th>
            Previous Close
        </th>
        <th>
            Fifty Day Average
        </th>
        <th>
            Two Hundred Day Average
        </th>
        <th>
            52 Week Low
        </th>
        <th>
            52 Week High
        </th>
        <th>
            Price to Sales
        </th>
        <th>
            Industry
        </th>
    </tr>
    {% for stock in stock_data %}
        <tr>
            <td>
                {{ stock.ticker }}
            </td>
            <td>
                {{ stock.shortName }}
            </td>
            <td>
                ${{ stock.price }}
            </td>
            <td>
                {{ stock.fiftyDayAverage }}
            </td>
            <td>
                {{ stock.twoHundredDayAverage }}
            </td>
            <td>
                {{ stock.fiftyTwoWeekLow }}
            </td>
            <td>
                {{ stock.fiftyTwoWeekHigh }}
            </td>
            <td>
                {{ stock.priceToSalesTrailing12Months }}
            </td>
            <td>
                {{ stock.industry }}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
